* {
    box-sizing: border-box;
}

header{
    background-color: rgb(9, 211, 247);
    height: 150px;
}

#logo1 {
    float: left;
    text-align: left;
    height: 140px;
    width: 200px;
    left: 200px;
}

#logo2 {
    float: right;
    text-align: right;
    height: 140px;
    width: 200px;
    left: 200px;
    margin-top: -130px;
} 

h1{
    font-size: 80px;
    font-weight: bolder;
    color: rgb(247, 245, 236);
    font-weight: normal;
    position: relative;
    text-align: center;
    right: 130px;
    padding-top: 30px;
    display: block;
    font-family: 'Zen Tokyo Zoo', cursive;
}

header nav ul{
   
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
   padding-left: 119px;
   
}

header nav ul li a{
    font-size: 23px;
    font-weight: bolder;
    color: rgb(247, 245, 236);
    text-align: center;
    padding: 13px;
   
}

main {
    width: 960px;
    margin: 30px auto;
    
}

h2 {
    font-size: 50px;
    font-weight: bolder;
    color: darkblue;
    text-align: center;
    padding: 23px;
    font-family: 'Dancing Script', cursive;
}

#left {
    display: inline-block;
    padding: 23px;
    border: rgb(126, 11, 11) solid 3px;
}

#center {
    display: inline-block;
    padding: 23px;
    border: orange solid 3px;
}

#right {
    display: inline-block;
    padding: 23px;
    border: green solid 3px;
}

#button {
    margin-left: 360px;
    float: center;
    width: 200px;
    height: 50px;
    background-color:rgb(9, 211, 247);
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-top: 30px;

}

#unList {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color:rgb(17, 32, 165);
    text-align: center;
    padding: 30px;
    
}
#myChart {
    height: 123px;
    width: 350px;
    
}

footer {
    background-color: rgb(9, 211, 247);
    height: 100px;
    text-align: center;
    color: white;
    font-size: 23px;
}